@import 'bootstrap/scss/bootstrap';
$bootstrap-icons-font-dir: '~bootstrap-icons/font/fonts';
@import '~bootstrap-icons/font/bootstrap-icons.scss';

.remove-me {
  // just to test tree-shaking
  background-color: red;
}

.keep-me {
  // just to test tree-shaking
  background-color: green;
}
